use flake

COUCHDB_USER=$(op read "op://Private/ocForestCover couchDb/username")
COUCHDB_PASSWORD=$(op read "op://Private/ocForestCover couchDb/password")

export COUCHDB_HOST="ocforestcover.fly.dev"
export COUCHDB_USER
export COUCHDB_PASSWORD
