body, html {
	height:100%
}
html {
	background: #efefef;	
}
body {
	max-width:1000px;
	margin:0 auto;
	font-family: Arial, sans-serif;
    background: white;
	box-shadow: 0 0 15px #bbb;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.top-bar {
	height:47px;
}
.bottom-bar {
	height:48px;
	position:absolute;
	bottom:0;
	width:100%;
}
.content-maparea {
	position:relative;
	height: calc(100% - 47px); /*match top-bar px*/
}
#mapDiv {
	position:relative;
	height: calc(100% - 48px); /*match bottom-bar px*/
}
#map{
	width: 100%;
	min-height:400px;
	height: 100%;
}
.map-bottom {
    position: absolute;
    bottom: 0px;
    z-index: 400;
	width:96%;
	margin:2%
}
.nav, .netlify-identity-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav {
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}
.nav-netlify {
	float:right;
}
.netlify-identity-user-details {
    position: absolute;
    top: 60px;
    z-index: 1001;
}
.netlify-identity-menu {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.nav-link, .netlify-identity-menu li {
    display: block;
    padding: .5rem 1rem;
}
.top-bar .btn-nav {
	line-height:1;
}

button {
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	-webkit-appearance: button;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
.btn-group {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group>.btn {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    /*border-radius: .25rem;*/
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}
.btn.focus, .btn:focus {
    outline: 0;
    text-decoration: none;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn-bottom {
	width:100%;
}
.btn-bottom .btn {
    width: 50%;
    border-radius: 0;
}
.btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
}
.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-tree {
    color: #fff;
    background-color: #137d2d;
    border-color: #137d2d;
}
.btn-tree:hover {
    color: #fff;
    background-color: #30a94b;
    border-color: #30a94b;
}

.btn-nottree {
    color: #fff;
    background-color: #7b560e;
    border-color: #7b560e;
}
.btn-nottree:hover {
    color: #fff;
    background-color: #d2a54d;
    border-color: #d2a54d;
}

.btn-warning {
    color: #212529;
    background-color: #ccc;
    border-color: #ccc;
}
.btn-warning:hover {
    color: #212529;
    background-color: #fbf4db;
    border-color: #fbf4db;
}

.btn-unsure {
 float:right;
}
.btn-back {
 float:left;
}

/* forms */
.form-group {
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
textarea.form-control {
    height: auto;
}


/* Javascript collapse */
.content-text {
  padding: 15px 15px 30px;
}
.collapse {
	z-index: 1100;
	position: absolute;
	background: rgba(255,255,255,.85);
	width: 100%;
	display: block;
	max-height: 0px;
	overflow: hidden;
	transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}
.collapse.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
}


@media (min-width: 700px) {
	.content-textareas, .content-maparea {
		width:50%;
		min-height:1px;
		float:left;
	}
	.content-maparea {
		height: 500px;
	}
	.bottom-bar {
		position: static;
	}
	.collapse {
	    position: static;
	}
}
